<section id="widget-grid">
  <div class="row">
    <article class="col-xs-12">
      <div class="jarviswidget <%= @filter_active ? 'jarviswidget-color-redLight' : 'jarviswidget-color-darken' %>" id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false">
        <header>
          <span class="widget-icon"><i class="fa fa-table"></i></span>

          <h2><%= @filter_active ? t('simple_form.buttons.filtering') : '' %></h2>

          <div class="widget-toolbar filter-group">
            <%= link_to raw("<i class='fa fa-file'></i> #{t('simple_form.buttons.new_mix_box')}"), new_inventory_event_path(inventory_event: {event: InventoryEvent::EVENT_CONVERT, reason: InventoryEvent::REASON_MBA, quantity: 1, box_id: Box.units_box.id}), class: 'btn btn-primary' if (can? :create, InventoryEvent) %>
            <%= link_to raw("<i class='fa fa-file'></i> #{t('simple_form.buttons.new_event')}"), new_inventory_event_path, class: 'btn btn-primary' if (can? :create, InventoryEvent) %>
            <a href="javascript:void(0)" data-target="#filter-wid-id-0" id="filtrar" role="button" class="filter-button btn btn-primary"><i class="fa fa-filter"></i> <%= @filter_active ? t('simple_form.buttons.filtering') : t('simple_form.buttons.filters') %>
            </a>
          </div>
        </header>
        <div class="no-padding">
          <div class="jarviswidget-editbox filter-zone" id="filter-wid-id-0" style="display:none;">
            <div class="col-xs-12"><%= search_form_for(@q, html: {name: 'filter_form', class: 'form-inline'}) do |f| %>
                  <fieldset>
                    <div class="row">
                      <div class="col-md-3 col-sm-6 col-xs-12">
                        <label for="q[product_id_cont]"><%= t('simple_form.labels.product') %></label>
                        <%= f.select :product_id_eq, options_from_collection_for_select(Product.all, :id, :name, @q.product_id_eq), {include_blank: true}, {class: "form-control input-sm"} %>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12">
                        <label for="q[lot_cont]"><%= t('simple_form.labels.defaults.lot') %></label>
                        <%= f.search_field :lot_cont, label: false, class: "form-control input-sm" %>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 spanning">
                        <label for="q[expiration_date_gteq]"><%= t('simple_form.labels.defaults.expiration_date') %></label>

                        <div class="input-group input-group-sm block">
                          <%= f.search_field :expiration_date_gteq, label: false, placeholder: t('simple_form.placeholders.from'), class: "form-control date-picker input-sm", value: format_date_field(@q.expiration_date_gteq) %>
                        </div>
                        <div class="input-group input-group-sm block">
                          <%= f.search_field :expiration_date_lteq, label: false, placeholder: t('simple_form.placeholders.to'), class: "form-control date-picker input-sm", value: format_date_field(@q.expiration_date_lteq) %>
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 spanning">
                        <label for="q[quantity_available_gteq]"><%= t('simple_form.labels.defaults.quantity_available') %></label>

                        <div class="input-group input-group-sm block">
                          <%= f.search_field :quantity_available_gteq, label: false, placeholder: t('simple_form.placeholders.from'), class: "form-control input-sm" %>
                        </div>
                        <div class="input-group input-group-sm block">
                          <%= f.search_field :quantity_available_lteq, label: false, placeholder: t('simple_form.placeholders.to'), class: "form-control input-sm" %>
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12">
                        <label for="q[box_id_cont]"><%= t('simple_form.labels.box') %></label>
                        <%= f.select :box_id_eq, options_from_collection_for_select(Box.all, :id, :name, @q.box_id_eq), {include_blank: true}, {class: "form-control input-sm"} %>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 spanning">
                        <label for="q[quantity_in_units_gteq]"><%= t('simple_form.labels.defaults.quantity_available_in_units') %></label>

                        <div class="input-group input-group-sm block">
                          <%= f.search_field :quantity_available_in_units_gteq, label: false, placeholder: t('simple_form.placeholders.from'), class: "form-control input-sm" %>
                        </div>
                        <div class="input-group input-group-sm block">
                          <%= f.search_field :quantity_available_in_units_lteq, label: false, placeholder: t('simple_form.placeholders.to'), class: "form-control input-sm" %>
                        </div>
                      </div>
                    </div>
                    <div class="row pull-right">
                      <div class="col-sm-12">
                        <%= render 'shared/submit_filters' %>
                      </div>
                    </div>
                  </fieldset>
              <% end %>
            </div>
          </div>
          <div class="widget-body">
            <table id="dt_basic" width="100%" class="display table table-striped table-bordered table-hover" style="margin:0 padding-top:0px">
              <thead>
              <tr>
                <th class='all control'><%= sort_link(@q, :product_name, t('simple_form.labels.defaults.product')) %></th>
                <th><%= sort_link(@q, :lot, t('simple_form.labels.defaults.lot')) %></th>
                <th><%= sort_link(@q, :expiration_date, t('simple_form.labels.defaults.expiration_date')) %></th>
                <th><%= sort_link(@q, :box_name, t('simple_form.labels.defaults.box')) %></th>
                <th><%= sort_link(@q, :quantity_available, t('simple_form.labels.defaults.quantity_available')) %></th>
                <th><%= sort_link(@q, :quantity_available_in_units, t('simple_form.labels.defaults.quantity_available_in_units')) %></th>
                <th class="all"><%= t('simple_form.screen.actions') %></th>
              </tr>
              </thead>
              <tbody>
              <% @inventories.each do |inventory| %>
                  <tr>
                    <td><%= inventory.product.try(:name) %></td>
                    <td><%= inventory.lot %></td>
                    <td><%= l(inventory.expiration_date, format: :default) if inventory.expiration_date %></td>
                    <td><%= inventory.box.try(:name) %></td>
                    <td align='right'><%= inventory.quantity_available %></td>
                    <td align='right'><%= inventory.quantity_available_in_units %></td>
                    <td class="table-actions">
                      <%= render 'shared/action_icons', locals: {target: inventory} %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <div class="widget-footer">
            <%= render 'shared/pagination', locals: {target: @inventories, model_index_path: inventories_path} %>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>

