<div id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" class="jarviswidget jarviswidget-color-darken">
  <header>
    <h2><%= creating? ? "<i class='fa fa-file'></i>".html_safe : "<i class='fa fa-pencil'></i>".html_safe %></h2>
  </header>
  <div>
    <div class="widget-body">
      <%= simple_form_for @inventory_event, html: {class: 'form-horizontal'},
                          wrapper: :horizontal_form,
                          wrapper_mappings: {
                                  check_boxes: :horizontal_radio_and_checkboxes,
                                  radio_buttons: :horizontal_radio_and_checkboxes,
                                  file: :horizontal_file_input,
                                  boolean: :horizontal_boolean
                          } do |f| %>
          <div class="form-inputs edit">
            <%= f.input :event, as: :select, collection: InventoryEvent::EVENTS_COLLECTION, input_html: {disabled: @inventory_event.event, data:{ dynamic_selectable_url: dynamic_select_inventory_reasons_path(':event_id'), dynamic_selectable_target: '#inventory_event_reason' } } %>
            <%= f.input :event, as: :hidden, input_html: {value: @inventory_event.event} if @inventory_event.event %>

            <%= f.input :reason, as: :select, collection: InventoryEvent::REASONS_COLLECTION, input_html: {disabled: @inventory_event.reason} %>
            <%= f.input :reason, as: :hidden, input_html: {value: @inventory_event.reason} if @inventory_event.reason %>

            <%= f.association :product, collection: products_collection, placeholder: 'Buscar', input_html: {disabled: @inventory_event.product, style: 'max-width:100%;', class: :select2_with_matcher_or, data:{s2:{limit: 10}, dynamic_selectable_url: dynamic_select_product_boxes_path(':product_id'), dynamic_selectable_target: '#inventory_event_box_id'} } %>
            <%= f.input :product_id, as: :hidden, input_html: {value: @inventory_event.product_id} if @inventory_event.product_id %>

            <%= f.input :expiration_date, as: :string, placeholder: 'dd/mm/aaaa', input_html: {readonly: @inventory_event.expiration_date, class: 'date-picker', value: format_date_field(@inventory_event.expiration_date)} %>

            <%= f.association :box, collection: product_boxes, input_html: {disabled: @inventory_event.box_id} %>
            <%= f.input :box_id, as: :hidden, input_html: {value: @inventory_event.box_id} if @inventory_event.box_id %>

            <% stock = Inventory.where(product_id: @inventory_event.product_id, box_id: @inventory_event.box_id, expiration_date: @inventory_event.expiration_date).try(:first).try(:quantity_available) %>
            <%= f.input :quantity, hint: "El stock actual es: #{stock}" %>
            <%#= f.input :quantity, input_html: {disabled: @inventory_event.quantity} %>
            <%#= f.input :quantity, as: :hidden, input_html: {value: @inventory_event.quantity} if @inventory_event.quantity %>

            <%= f.input :notes, :input_html => {:rows => 4, :cols => 30} %>

            <div class="widget-footer">
              <div class="form-actions">
                <div class="btn-group">
                  <%= link_to raw("<i class='fa fa-arrow-left'></i> #{t('simple_form.buttons.list')}"), inventories_path(grouped: true), class: 'btn btn-default btn-sm' if can?(:read, Inventory) %>
                  <button type="submit" class="btn btn-primary btn-sm">
                    <i class='fa fa-check-circle'></i> <%= creating? ? t('simple_form.buttons.create') : t('simple_form.buttons.update') %>
                  </button>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('#inventory_event_event').dynamicSelectable();
  $('#inventory_event_product_id').dynamicSelectable();
  select2_with_matcher_or();
</script>