<article class="col-sm-6">
  <div id="wid-id-2" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" class="jarviswidget <%= @filter_active ? 'jarviswidget-color-redLight' : 'jarviswidget-color-darken' %>">

    <header>
      <%= "<h3>#{t('activerecord.models.customer_contact.other')}</h3>".html_safe %>
    </header>


    <div class="no-padding">
      <div class="widget-body">
        <table id="dt_basic" width="100%" class="display table table-striped table-bordered table-hover" style="margin:0 padding-top:0px">
          <thead>
          <tr>
            <th class='all control'><%= t('simple_form.labels.defaults.name') %></th>
            <th><%= t('simple_form.labels.defaults.phones') %></th>
            <th><%= t('simple_form.labels.defaults.email') %></th>
            <th><%= t('simple_form.labels.defaults.notes') %></th>
          </tr>
          </thead>
          <tbody>
          <% @customer_contacts.each do |customer_contact| %>
              <tr>
                <td><%= customer_contact.name %></td>
                <td><%= customer_contact.phones %></td>
                <td><%= customer_contact.email %></td>
                <td><%= customer_contact.notes %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</article>







