<div id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" class="jarviswidget jarviswidget-color-darken">
  <header>
    <h2><%= creating? ? "<i class='fa fa-file'></i>".html_safe : "<i class='fa fa-pencil'></i>".html_safe %></h2>
  </header>
  <div>
    <div class="widget-body">
      <%= simple_nested_form_for @order, html: {class: 'form-horizontal'},
                          wrapper: :horizontal_form,
                          wrapper_mappings: {
                                  check_boxes: :horizontal_radio_and_checkboxes,
                                  radio_buttons: :horizontal_radio_and_checkboxes,
                                  file: :horizontal_file_input,
                                  boolean: :horizontal_boolean
                          } do |f| %>
          <div class="form-inputs edit">

            <%= f.association :customer, as: :ajax_select2, search_class: :customer, placeholder: 'Empiece escribiendo', input_html: {data:{ dynamic_selectable_url: dynamic_select_customer_branches_path(':customer_id'), dynamic_selectable_target: '#order_customer_branch_id' } } %>
            <%= f.association :customer_branch, collection: creating? ? [] : @order.customer.customer_branches %>
            <%= f.association :user, collection: users_hide_or_show_superusers if current_user.superuser? || current_user.admin? %>
            <%= f.input :delivery_date, as: :string, placeholder: 'dd/mm/aaaa HH:MM', input_html: {class: 'datetimepicker', value: format_datetime_field(@order.delivery_date)} %>

            <div class="form-group">
              <label class="col-xs-12 col-sm-3 control-label" for=""><%= t('activerecord.models.product.other') %></label>
              <div class="col-sm-9">
                <div class="table-responsive">
                  <table id="order_details" width="100%" class="display tableAlt table-striped table-bordered table-hover no-margin" style="margin:0 padding-top:0px">
                    <%= f.fields_for :order_details, :wrapper => false do |order_detail_form| %>
                        <tr class="fields">
                          <td colspan="4">
                            <table border="0" width="100%">
                              <tr>
                                <td colspan="4" style="padding-bottom: 10px;">
                                  <% if order_detail_form.object.new_record? %>
                                    <%= order_detail_form.association :product, as: :select2, collection: Product.all.map{ |p| ["#{p.code} #{p.name}", p.id] }, wrapper: :clean, placeholder: 'Buscar', input_html: { data:{s2:{limit: 10}}, disabled: true, class: [:enable_me, :ajax_dropdown], data: {url: '/orders/ajax_get_product_info', extraparams: 'order_customer_id'} } %>
                                  <% else %>
                                    <%= order_detail_form.object.product.code %> <%= order_detail_form.object.product.name %>
                                  <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td><%= order_detail_form.input :quantity,        placeholder: t('simple_form.labels.defaults.quantity'),   wrapper: :clean, input_html: {disabled: true, class: [:enable_me, :quantity]} %></td>


                                <td><%= order_detail_form.input :stock_at_create, placeholder: t('simple_form.labels.defaults.stock'),      wrapper: :clean, input_html: {readonly: true} %></td>

                                <td><%= order_detail_form.input :unit_price,      placeholder: t('simple_form.labels.defaults.unit_price'), wrapper: :clean, input_html: {readonly: true, class: :unit_price} %></td>
                                <td><%= order_detail_form.input :subtotal,        placeholder: t('simple_form.labels.defaults.subtotal'),   wrapper: :clean, input_html: {disabled: true, class: :subtotal} %></td>
                              </tr>
                            </table>
                          </td>
                          <td align="center">
                            <% if @order.created? || creating? %>
                                <%= order_detail_form.link_to_remove do %>
                                    <i class="fa fa-trash-o" data-original-title="<%= t('simple_form.tooltips.destroy') %>" data-placement="top" rel="tooltip"></i>
                                <% end %>
                            <% end %>
                          </td>
                        </tr>
                    <% end %>
                  </table>
                  <% if @order.created? || creating? %>
                      <div class="well well-sm">
                        <span class="btn bg-color-blue txt-color-white btn-xs">
                          <%= f.link_to_add raw("#{t('simple_form.buttons.add')} <i class='fa fa-plus-square'></i>"), :order_details, :data => {:target => "#order_details"}  %>
                        </span>
                      </div>
                  <% end %>
                </div>
              </div>
            </div>

            <%= f.input :iva %>
            <%= f.input :total_amount, input_html: {disabled: true} %>
            <%= f.input :status, as: :select, collection: Order::STATUS_TYPES, include_blank: true if updating? %>


            <div class="widget-footer">
              <div class="form-actions">
                <div class="btn-group">
                  <%= link_to raw("<i class='fa fa-arrow-left'></i> #{t('simple_form.buttons.list')}"), orders_path, class: 'btn btn-default btn-sm' if can?(:read, Order) %>
                  <%= link_to raw("<i class='fa fa-binoculars'></i> #{t('simple_form.buttons.show')}"), @order, class: 'btn btn-default btn-sm' if can?(:read, Order) && updating? %>
                  <%= link_to raw("<i class='fa fa-trash'></i> #{t('simple_form.buttons.destroy')}"), @order, class: 'btn btn-default btn-sm', method: :delete, data: {confirm: t('helpers.messages.are_you_sure'), 'original-title': 'Destroy'} if can?(:destroy, Order) && updating? %>
                  <button type="submit" class="btn btn-primary btn-sm">
                    <i class='fa fa-check-circle'></i> <%= creating? ? t('simple_form.buttons.create') : t('simple_form.buttons.update') %>
                  </button>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>


<% content_for :javascript_per_page do %>
    <%= javascript_include_tag "orders", 'data-turbolinks-track' => true %>
<% end %>


