<article class="col-sm-6">
  <div id="wid-id-1" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" class="jarviswidget <%= @filter_active ? 'jarviswidget-color-redLight' : 'jarviswidget-color-darken' %>">

    <header>
      <%= "<h3>#{t('activerecord.models.order_detail.other')}</h3>".html_safe %>
      <div class="widget-toolbar filter-group">
      </div>
    </header>


    <div class="no-padding">
      <div class="jarviswidget-editbox filter-zone" id="filter-wid-id-1" style="display:none;">
        <div class="col-md-9 col-sm-12 no-padding">

          <%= search_form_for(@q, url: order_path(@order), html: {name: 'filter_form', class: 'form-inline'}) do |f| %>
              <fieldset>
                <div class="row">
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <label for="q[product_id_cont]"><%= t('simple_form.labels.product') %></label>
                    <%= f.select :product_id_eq, options_from_collection_for_select(Product.all, :id, :name, @q.product_id_eq), {include_blank: true}, {class: "form-control input-sm"} %>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <label for="q[quantity_cont]"><%= t('simple_form.labels.defaults.quantity') %></label>
                    <%= f.search_field :quantity_cont, label: false, class: "form-control input-sm" %>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12 spanning">
                    <label for="q[unit_price_gteq]"><%= t('simple_form.labels.defaults.unit_price') %></label>

                    <div class="input-group input-group-sm block">
                      <%= f.search_field :unit_price_gteq, label: false, placeholder: t('simple_form.placeholders.from'), class: "form-control input-sm" %>
                    </div>
                    <div class="input-group input-group-sm block">
                      <%= f.search_field :unit_price_lteq, label: false, placeholder: t('simple_form.placeholders.to'), class: "form-control input-sm" %>
                    </div>
                  </div>
                </div>
                <div class="row pull-right">
                  <div class="col-sm-12">
                    <%= render 'shared/submit_filters' %>
                  </div>
                </div>
              </fieldset>

        <% end %>
        </div>
      </div>
      <div class="widget-body">
        <table id="dt_basic" width="100%" class="display table table-striped table-bordered table-hover" style="margin:0 padding-top:0px">
          <thead>
          <tr>
            <th class='all control'><%= sort_link(@q, :product_id, t('simple_form.labels.defaults.product')) %></th>
            <th><%= sort_link(@q, :box_name, t('activerecord.models.box.one')) %></th>
            <th><%= sort_link(@q, :quantity, t('simple_form.labels.defaults.quantity')) %></th>
            <th><%= sort_link(@q, :quantity_units, t('simple_form.labels.defaults.quantity_units')) %></th>
            <th><%= sort_link(@q, :unit_price, t('simple_form.labels.defaults.unit_price')) %></th>
            <th><%= sort_link(@q, :subtotal, t('simple_form.labels.defaults.subtotal')) %></th>
          </tr>
          </thead>
          <tbody>
          <% @order_details.each do |order_detail| %>
              <tr>
                <td><%= order_detail.product.try(:name) %></td>
                <td><%= order_detail.box.try(:name) %></td>
                <td align='right'><%= order_detail.quantity %></td>
                <td align='right'><%= order_detail.quantity_units %></td>
                <td align='right'><%= order_detail.unit_price ? number_to_currency(order_detail.unit_price, unit: '') : nil %></td>
                <td align='right'><%= order_detail.subtotal ? number_to_currency(order_detail.subtotal, unit: '') : nil  %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <div class="widget-footer">
          <%= render 'shared/pagination', locals: {target: @order_details, model_index_path: order_order_details_path(@order)} %>
        </div>
      </div>
    </div>
  </div>
</article>







