


<div class="invoice-box">
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="4">
        <table>
          <tr>
            <td class="title">
              <b>Cliente: </b><%= @order.customer.try(:name) %><br>
              <b>Sucursal: </b><%= @order.customer_branch.try(:name) %> <br/>
              <b>Direcci&oacuten: </b><%= @order.customer_branch.try(:address) %> <br/>
            </td>

            <td class="title-right">
              <b>Pedido ID:</b> <%= @order.id %><br/>
              <b>Creado:</b> <%= l(@order.created_at, :format => :long) if @order.created_at %><br/>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="information">
      <td colspan="4">
        <table>
          <tr>
            <td>
            </td>
            <td>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="heading">
      <td>Método de pago</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="details">
      <td>Efectivo</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="heading">
      <td>Código</td>
      <td>Producto</td>
      <td align="right">Cantidad</td>
      <td align="right">Subtotal</td>
    </tr>
<% @order.order_details.each do |order_detail| %>
    <tr class="item">
      <td><%= order_detail.product.code %></td>
      <td align="left"><%= order_detail.product.name %></td>
      <td align="right"><%= order_detail.quantity %></td>
      <td align="right">$ <%= number_to_currency(order_detail.subtotal, unit: '') %></td>
    </tr>
<% end %>

    <tr class="total">
      <td></td>
      <td></td>
      <td>TOTAL:</td>
      <td align="right"><b>$ <%= number_to_currency(@order.total_amount, unit: '') %></b></td>
    </tr>
  </table>
</div>
