

  <style>
      .invoice-box {
          max-width: 800px;
          margin: auto;
          padding: 30px;
          border: 1px solid #eee;
          box-shadow: 0 0 10px rgba(0, 0, 0, .15);
          font-size: 16px;
          line-height: 24px;
          font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
          color: #555;
      }

      .invoice-box table {
          width: 100%;
          line-height: inherit;
          text-align: left;
      }

      .invoice-box table td {
          padding: 5px;
          vertical-align: top;
      }

      .invoice-box table tr td:nth-child(4) {
          text-align: right;
      }

      .invoice-box table tr.top table td {
          padding-bottom: 20px;
      }

      .invoice-box table tr.top table td.title {
          font-size: 20px;
          line-height: 40px;
          color: #333;
      }

      .invoice-box table tr.top table td.title-right {
          text-align: right;
      }

      .invoice-box table tr.information table td {
          padding-bottom: 40px;
      }

      .invoice-box table tr.heading td {
          background: #eee;
          border-bottom: 1px solid #ddd;
          font-weight: bold;
      }

      .invoice-box table tr.details td {
          padding-bottom: 20px;
      }

      .invoice-box table tr.item td{
          border-bottom: 1px solid #eee;
      }

      .invoice-box table tr.item.last td {
          border-bottom: none;
      }

      .invoice-box table tr.total td:nth-child(5) {
          border-top: 2px solid #aaa;
          font-weight: bold;
          font-size: 20px;
      }
      .invoice-box table tr.total td:nth-child(4) {
          border-top: 2px solid #aaa;
          font-weight: bold;
          font-size: 20px;
      }

      @media only screen and (max-width: 600px) {
          .invoice-box table tr.top table td {
              width: 60%;
              display: block;
              text-align: left;
          }

          .invoice-box table tr.information table td {
              width: 100%;
              text-align: center;
          }
      }

      /** RTL **/
      .rtl {
          direction: rtl;
          font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
      }

      .rtl table {
          text-align: right;
      }


  </style>



<div class="invoice-box">
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="5">
        <table>
          <tr>
            <td class="title">
              <b>Cliente: </b><%= @order.customer.try(:name) %><br>
              <b>Sucursal: </b><%= @order.customer_branch.try(:name) %> <br/>
              <b>Direcci&oacuten: </b><%= @order.customer_branch.try(:address) %> <br/>
            </td>

            <td class="title-right">
              <b>Pedido ID:</b> <%= @order.id %><br/>
              <b>Creado:</b> <%= l(@order.created_at, :format => :long) if @order.created_at %><br/>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="heading">
      <td>Código</td>
      <td>Producto</td>
      <td>Caja</td>
      <td align="right">Cantidad</td>
      <td align="right">Subtotal</td>
    </tr>
<% @order.order_details.each do |order_detail| %>
    <tr class="item">
      <td><%= order_detail.product.code %></td>
      <td align="left"><%= order_detail.product.name %></td>
      <td align="left"><%= order_detail.box.name %></td>
      <td align="right"><%= order_detail.quantity %></td>
      <td align="right">$ <%= number_to_currency(order_detail.subtotal, unit: '') %></td>
    </tr>
<% end %>

    <tr class="total">
      <td></td>
      <td></td>
      <td></td>
      <td>TOTAL:</td>
      <td align="right"><b>$ <%= number_to_currency(@order.total_amount, unit: '') %></b></td>
    </tr>
  </table>
</div>
