<div id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" class="jarviswidget jarviswidget-color-darken">
  <header>
    <h2><%= creating? ? "<i class='fa fa-file'></i>".html_safe : "<i class='fa fa-pencil'></i>".html_safe %></h2>
  </header>
  <div>
    <div class="widget-body">
      <%= simple_form_for @promotion, html: {class: 'form-horizontal'},
                          wrapper: :horizontal_form,
                          wrapper_mappings: {
                                  check_boxes: :horizontal_radio_and_checkboxes,
                                  radio_buttons: :horizontal_radio_and_checkboxes,
                                  file: :horizontal_file_input,
                                  boolean: :horizontal_boolean
                          } do |f| %>
          <div class="form-inputs edit">

            <%= f.input :name %>
            <%= f.input :promo_type, as: :select, collection: Promotion::PROMO_TYPES_FOR_SELECT, input_html: {class: 'field_with_popover_lf', data: {pop: 'popover-hover', placement: 'top', title: 'title', content: 'content', icon: 'fa fa-question'}} %>

            <%= f.association :product, as: :select2, collection: Product.code_and_name, placeholder: 'Buscar', input_html: { style: 'max-width:100%;', data:{s2:{limit: 10}, dynamic_selectable_url: dynamic_select_product_boxes_path(':product_id'), dynamic_selectable_target: '#promotion_box_id' } } %>
            <%= f.association :box %>
            <%= f.input :expiration_date, as: :string, placeholder: 'dd/mm/aaaa', input_html: {class: 'date-picker', value: format_date_field(@promotion.expiration_date)} %>
            <div id="with_stock" style="display: <%= @promotion.promo_type_with_stock? ? 'block' : 'none' %>;">
                <%#= f.input :actual_stock, hint: 'el stock actual en inventario', input_html: {readonly: true} if creating? %>
                <%= f.input :quantity_start, input_html: {class: 'field_with_popover_lf', data: {pop: 'popover-hover', placement: 'top', title: 'title', content: 'content', icon: 'fa fa-question'}} %>
                <%= f.input :quantity_available if updating? %>
            </div>

            <%= f.input :from_date, as: :string, placeholder: 'dd/mm/aaaa', input_html: {class: 'date-picker', value: format_date_field(@promotion.from_date)} %>
            <%= f.input :end_with, as: :select, collection: Promotion::END_WITH_FOR_SELECT, input_html: {class: 'field_with_popover_lf', data: {pop: 'popover-hover', placement: 'top', title: 'title', content: 'content', icon: 'fa fa-question'}} %>
            <div id="to_date" style="display: <%= @promotion.end_with_date? ? 'block' : 'none' %>;">
                <%= f.input :to_date, as: :string, placeholder: 'dd/mm/aaaa', input_html: {class: 'date-picker', value: format_date_field(@promotion.to_date)} %>
            </div>
            <%= f.input :published, as: :select, label: t('simple_form.labels.defaults.promotion_published?'), collection: options_for_boolean, include_blank: false %>
            <%= f.input :product_total_cost, input_html: {class: 'field_with_popover_lf', data: {pop: 'popover-hover', placement: 'top', title: 'El costo total del producto en esta promoción', content: 'Puede ser distinto al costo que tiene el producto habitualmente.', icon: 'fa fa-question'}} %>

            <div class="form-group">
              <label class="col-xs-12 col-sm-3 control-label" for=""><%= t('simple_form.labels.defaults.prices') %></label>
              <div class="col-sm-9">
                <div class="table-responsive">
                  <table id="branches" width="100%" class="display tableAlt table-striped table-bordered table-hover no-margin" style="margin:0 padding-top:0px">
                    <tr>
                      <th class="all control"><%= t('simple_form.labels.defaults.customer_category') %></th>
                      <th><%= t('simple_form.labels.defaults.company_profit_percent') %></th>
                      <th><%= t('simple_form.labels.defaults.seller_profit_percent') %></th>
                      <th><%= t('simple_form.labels.defaults.total_profit_percent') %></th>
                      <th><%= t('simple_form.labels.defaults.price') %></th>
                      <th><%= t('simple_form.labels.defaults.seller_commission_over_price_percent') %></th>
                    </tr>
                    <%= f.fields_for :prices, :wrapper => false do |price_form| %>
                        <%= price_form.input :customer_category_id, as: :hidden %>
                        <tr class="fields">
                          <td><%= price_form.object.customer_category.try(:name) %></td>
                          <td><%= price_form.input :company_profit_percent, wrapper: :clean %></td>
                          <td><%= price_form.input :seller_profit_percent, wrapper: :clean %></td>
                          <td><%= price_form.input :total_profit_percent, wrapper: :clean %></td>
                          <td><%= price_form.input :price, wrapper: :clean %></td>
                          <td><%= price_form.input :seller_commission_over_price_percent, wrapper: :clean %></td>
                        </tr>
                    <% end %>
                  </table>
                </div>
              </div>
            </div>

            <%= f.input :notes, :input_html => {:rows => 4, :cols => 30} %>

            <div class="widget-footer">
              <div class="form-actions">
                <div class="btn-group">
                  <%= link_to raw("<i class='fa fa-arrow-left'></i> #{t('simple_form.buttons.list')}"), promotions_path, class: 'btn btn-default btn-sm' if can?(:read, Promotion) %>
                  <%= link_to raw("<i class='fa fa-binoculars'></i> #{t('simple_form.buttons.show')}"), @promotion, class: 'btn btn-default btn-sm' if can?(:read, Promotion) && updating? %>
                  <%= link_to raw("<i class='fa fa-trash'></i> #{t('simple_form.buttons.destroy')}"), @promotion, class: 'btn btn-default btn-sm', method: :delete, data: {confirm: t('helpers.messages.are_you_sure'), 'original-title': 'Destroy'} if can?(:destroy, Promotion) && updating? %>
                  <button type="submit" class="btn btn-primary btn-sm">
                    <i class='fa fa-check-circle'></i> <%= creating? ? t('simple_form.buttons.create') : t('simple_form.buttons.update') %>
                  </button>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

<% content_for :javascript_per_page do %>
    <%= javascript_include_tag "promotions", 'data-turbolinks-track' => true %>
<% end %>