<article class="col-sm-6">
  <div id="wid-id-1" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" class="jarviswidget <%= @filter_active ? 'jarviswidget-color-redLight' : 'jarviswidget-color-darken' %>">

    <header>
      <%= "<h3>#{t('activerecord.models.product.other')}</h3>".html_safe %>
    </header>


    <div class="no-padding">
      <div class="widget-body">
        <table id="dt_basic" width="100%" class="display table table-striped table-bordered table-hover" style="margin:0 padding-top:0px">
          <thead>
          <tr>
            <th class='all control'><%= t('simple_form.labels.defaults.name') %></th>
            <th><%= t('simple_form.labels.defaults.quantity') %></th>
          </tr>
          </thead>
          <tbody>
          <% @mix_box_details.each do |mix_box_detail| %>
              <tr>
                <td><%= mix_box_detail.product.name %></td>
                <td align='right'><%= mix_box_detail.quantity %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</article>







