<article class="col-sm-6">
  <div id="wid-id-1" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" class="jarviswidget <%= @filter_active ? 'jarviswidget-color-redLight' : 'jarviswidget-color-darken' %>">

    <header>
      <%= "<h3>Se vende por</h3>".html_safe %>
    </header>


    <div class="no-padding">
      <div class="widget-body">
        <table id="dt_basic" width="100%" class="display table table-striped table-bordered table-hover" style="margin:0 padding-top:0px">
          <thead>
          <tr>
            <th class='all control'><%= t('simple_form.labels.defaults.box') %></th>
            <th><%= t('simple_form.labels.defaults.stock_min') %></th>
            <th><%= t('simple_form.labels.defaults.stock_max') %></th>
          </tr>
          </thead>
          <tbody>
          <% @product_boxes.each do |pb| %>
              <tr>
                <td><%= pb.box.name %></td>
                <td align='right'><%= pb.stock_min %></td>
                <td align='right'><%= pb.stock_max %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</article>







