<section id="widget-grid">
  <div class="row">

    <!-- Nuevo show ahora con divs, ya no existe tabla -->
    <article class="col-sm-6">

      <div id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" class="jarviswidget jarviswidget-color-darken">
        <header><span class="widget-icon"><i class="fa fa-binoculars"></i></span>

          <div class="widget-toolbar filter-group">
            <%= link_to raw("<i class='fa fa-arrow-left'></i> #{t('simple_form.buttons.list')}"), products_path, class: 'btn btn-primary' %>
            <%= link_to raw("<i class='fa fa-pencil'></i> #{t('simple_form.buttons.edit')}"), edit_product_path(@product), class: 'btn btn-primary' if can?(:update, @product) %>
          </div>
        </header>
        <!-- widget div-->
        <div class="no-padding">

          <!-- widget content -->
          <div class="widget-body">

            <div class="form-group">
              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.code') %></strong></label>

                <div class="col-lg-9 details-data">
                  <%= @product.code %>
                </div>
              </div>
              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.name') %></strong></label>

                <div class="col-lg-9 details-data">
                  <%= @product.name %>
                </div>
              </div>
              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.units_sale_allowed') %></strong></label>

                <div class="col-lg-9 details-data">
                  <%= boolean_check_mark @product.units_sale_allowed %>
                </div>
              </div>
              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.is_mix_box') %></strong></label>

                <div class="col-lg-9 details-data">
                  <%= boolean_check_mark @product.is_mix_box %>
                </div>
              </div>


              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.quantity_stock') %></strong></label>

                <div class="col-lg-9 details-data">
                  <%= @product.quantity_stock %>
                </div>
              </div>
              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.quantity_min') %></strong></label>

                <div class="col-lg-9 details-data">
                  <%= @product.quantity_min %>
                </div>
              </div>
              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.quantity_max') %></strong></label>

                <div class="col-lg-9 details-data">
                  <%= @product.quantity_max %>
                </div>
              </div>

              <% if can? :see_sensitive_data, Product %>

                  <div class="row show-details">
                    <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.product_cost') %></strong></label>

                    <div class="col-lg-9 details-data">
                      <%= @product.product_cost  ? number_to_currency(@product.product_cost, unit: '') : nil %>
                    </div>
                  </div>
                  <div class="row show-details">
                    <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cargo_cost') %></strong></label>

                    <div class="col-lg-9 details-data">
                      <%= @product.cargo_cost  ? number_to_currency(@product.cargo_cost, unit: '') : nil %>
                    </div>
                  </div>
                  <div class="row show-details">
                    <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.total_cost') %></strong></label>

                    <div class="col-lg-9 details-data">
                      <%= @product.total_cost  ? number_to_currency(@product.total_cost, unit: '') : nil %>
                    </div>
                  </div>
              <% end %>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.saleman_fee_percent') %></strong></label>

                <div class="col-lg-9 details-data">
                  <%= @product.saleman_fee_percent %> <%= @product.saleman_fee_percent.present? ? '%' : '' %>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </article>
    <%= render 'index_product_prices' %>
    <%= render 'index_mix_boxes' if @product.is_mix_box %>
    <%= render 'index_product_boxes' unless @product.is_mix_box %>
  </div>
</section>

